
RewriteEngine on

RewriteOptions inherit
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^kodekur\.ru$ [OR]
RewriteCond %{HTTP_HOST} ^www\.kodekur\.ru$
RewriteRule ^(.*)$ "https\:\/\/kodekur\.ru\/$1" [R=301,L]

